body{
    
    background-image: url("/assets/img/backgroundImg.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
     
} 

.card{
    background-color: #d5e4c3;
}